<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </head>
  <body>
    
  <div id="main">
<header>
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/">Node.js<span class="logo_colour">&nbsp;Web App</span></a></h1>
        </div>
      </div>
      <nav>
        <ul class="sf-menu" id="nav">
          <li id="home"><a href="/">Home</a></li>
          <li id ="services"><a href="/services">Services</a></li>
        </ul>
      </nav>
</header>